ci:
  autofix_prs: true
  autoupdate_schedule: weekly
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: check-case-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-docstring-first
  - id: pretty-format-json
  - id: check-json
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: requirements-txt-fixer
- repo: https://github.com/psf/black
  rev: 24.1.1
  hooks:
  - id: black
    args: [--safe, --quiet]
    exclude: ^(src/swig/_version.py)
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==22.12.0]
- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear]
    exclude: ^(src/swig/_version.py)
