name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "*.*.*"


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            arch: "x86_64"
            build: ""
            use_qemu: false
          - os: ubuntu-20.04
            arch: "i686"
            build: ""
            use_qemu: false
          - os: ubuntu-20.04
            arch: "aarch64"
            build: "manylinux_"
            use_qemu: true
          - os: ubuntu-20.04
            arch: "aarch64"
            build: "musllinux_"
            use_qemu: true
          - os: ubuntu-20.04
            arch: "ppc64le"
            build: "manylinux_"
            use_qemu: true
          - os: ubuntu-20.04
            arch: "ppc64le"
            build: "musllinux_"
            use_qemu: true
          - os: ubuntu-20.04
            arch: "s390x"
            build: "manylinux_"
            use_qemu: true
          - os: ubuntu-20.04
            arch: "s390x"
            build: "musllinux_"
            use_qemu: true
          - os: windows-2019
            arch: "AMD64"
            build: ""
            use_qemu: false
          - os: windows-2019
            arch: "x86"
            build: ""
            use_qemu: false
          - os: macos-10.15
            arch: "x86_64"
            build: ""
            use_qemu: false

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # just in case versioneer gets used in the future

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.0.0

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distributions
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # just in case versioneer gets used in the future

      - name: Build SDist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  check_dist:
    name: Check dist
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - run: pipx run twine check --strict dist/*

  upload_test_pypi:
    name: Upload to Test PyPI
    needs: [build_wheels, build_sdist, check_dist]
    runs-on: ubuntu-latest
    if: endsWith(github.ref, 'main') && github.repository == 'nightlark/swig-pypi'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - name: Upload to Test PyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          password: ${{ secrets.TEST_PYPI_PASSWORD }}
          repository_url: https://test.pypi.org/legacy/

  upload_pypi:
    name: Upload to PyPI
    needs: [build_wheels, build_sdist, check_dist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.repository == 'nightlark/swig-pypi' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          password: ${{ secrets.PYPI_PASSWORD }}
