name: Auto-update SWIG Version
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 10 * * 1'
#  pull_request_target:
#    branches: [ main ]
jobs:
  update-dep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check and update SWIG version
        id: check-swig
        run: |
          old_version="$(grep -Po '(?<=SWIG_VERSION )\d+(\.\d+)+' swig_version.cmake)"
          echo "Old version: $old_version"
          echo "::set-output name=old_version::$old_version"

          new_version=$(git -c 'versionsort.suffix=-' \
            ls-remote --exit-code --refs --sort='version:refname' --tags https://github.com/swig/swig/ 'v*.*.*'\
            | tail --lines=1\
            | cut --delimiter='/' --fields=3\
            | grep -Po '\d+(\.\d+)+')

          echo "New version: $new_version"
          echo "::set-output name=new_version::$new_version"

          if [ "$old_version" != "$new_version" ]; then
            echo "set(SWIG_VERSION $new_version)" > swig_version.cmake
            echo "swig version updated"
          else
            echo "No change in swig version"
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            commit-message: Update swig dependencies
            title: Update SWIG version (${{ steps.check-swig.outputs.new_version }})
            body: |
              - Update SWIG version to ${{ steps.check-swig.outputs.new_version }}
              Auto-generated by ${{ github.server_url }}/${{ github.repository }}/runs/${{ github.job }}?check_suite_focus=true
            branch: swig-version-update/${{ steps.check-swig.outputs.new_version }}
